# Node modules
node_modules/

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# Environment files
.env
.env.*

# Operating System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build output
dist/
